{{include "_templates/header.bt.html"}}

<div class="content">

<h2>About</h2>
<p>Mario's Lab is my little experimental hide-out on the interwebs. I let my brain lose on technology and music, and summarize my findings here.</p>

<h2>Recent Posts</h2>
<ul class="posts">
{{i = 0}}
{{for file in sortFiles(listFiles("posts/", true, true), "date", false)}}
	{{i = i + 1}}
	{{if (i > 5) break end}}
	{{if file.metadata.published == false continue end}}
	<li>{{formatDate("MMM dd, yyyy", file.metadata["date"])}} - <a href="{{ "/" + file.getOutputDirectory() + "/" }}">{{file.metadata.title}}</a></li>
{{end}}
</ul>
<p><h4><a href="posts/">View all posts &gt;</a></h4></p>

<h2>Projects</h2>
{{i = 0}}
{{include "projects/_projects.bt.txt"}}
{{for project in projects}}
	{{i = i + 1}}
	{{if (i > 5) break end}}
	<div class="project">
		<a href="{{project.url}}">{{project.title}}</a>
		<p>{{project.description}}</p>
	</div>
{{end}}
<p><h4><a href="projects/">View all projects &gt;</a></h4></p>

</div>

{{include "_templates/footer.bt.html"}}