/* Set default font and size */
body {
	font-family: sans-serif;
	font-weight: 400;
	font-size: 18px;
}

h1 {
	font-size: 180%;
}

h2 {
	font-size: 130%;
}

h3 {
	font-size: 120%;
}

div, p, li, a {
	font-size: 100%;
}

pre > code {
	font-size: 80%;
}