{{include raw "_normalize.css"}}
{{include raw "_androidstudio.css"}}

/* Defines **/
{{
	color_background = "#232729"
	color_text = "#bbbbbb"
	color_note = "#ddd"
	color_quote = "rgb(254, 121, 5)"
	color_link = "rgb(254, 121, 5)"
	font_size = "16px"
	content_width = "80ch"
}}

body {
	background: {{color_background}};
	color: {{color_text}};
}

a, a:visited {
	color: {{color_link}};
	text-decoration: none;
}

/* Fonts */
body {
	font: 200 16px/1.5 monospace;
	font-feature-settings: "kern" 1;
    font-kerning: normal;
	font-weight: 400;
	font-size: {{font_size}};
	color: {{color_text}};
}

h1 {
	font-size: 180%;
	color: #6a8bad;
}

h2 {
	font-size: 150%;
	color: #6a8bad;
}

h3 {
	font-size: 120%;
	color: #6a8bad;
}

p, li, a {
	font-size: 100%;
	line-height: 1.5em;
}

.codeblock {
	display: flex;
	flex-direction: column;
}

.codeblock pre {
	line-height: 1.15em;
	margin-top: 0em;
}

li .codeblock pre {
	margin-top: 1em;
}

pre > code {
	font-size: 90%;
	line-height: initial;
	border-radius: 3px;
	tab-size: 3;
}

code {
	padding: 0 2px;
}

/* Elements */
ul {
	padding: 2em;
}

.navbar {
	display: flex;
	align-items: center;
	margin: auto;
	margin-bottom: 1em;
	padding: 0.5em 2em 0.5em 2em;
	border-bottom: 1px solid #55555538;
	max-width: {{content_width}};
}

.navbar > .logo {
	font-size: 180%;
	font-weight: 700;
	color: {{color_text}};
	margin-left: 0;
}

.navbar > a {
	margin-left: 0.5em;
	color: {{color_text}};
}

.navbar > :nth-child(1) {
	margin-right: auto;
}

.figure {
	margin-top: 1em;
	margin-bottom: 1em;
}

.figure img {
	display: block;
	max-width: 100%;
	width: 100%;
	height: auto;
	border-radius: 5px;
}

.figure span {
	display: block;
	font-size: 80%;
	font-style: italic;
	margin-top: 0.5em;
	line-height: 1.2em;
}

.note {
	border-left: solid 4px {{color_note}};
	padding: 1em;
	font-style: italic;
	background: #222;
}

.quote, .blockquote, blockquote {
	font-style: italic;
	border-left: solid 4px {{color_quote}};
	padding: 1em 2em 0.5em 2em;
	margin: 1em 0 1em 0 !important;
	background: #222;
}

.content {
	margin: auto;
	padding: 0 2em 2em 2em;
	max-width: {{content_width}};
}

.content > h2:first-of-type {
	margin-top: 0;
}

.content > h2 {
	margin-top: 1.5em;
}

.posts {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.posts li {
	margin-bottom: 0.5em;
}

.webring {
	list-style-type: disc;
	margin: 0 1em 0 1em;
	padding: 0;
}

.webring li {
	margin-bottom: 0.5em;
}

.project {
	margin-bottom: 1em;
}

.project > p {
	margin-top: 0.5em;
}

.post_header h1 {
	font-weight: 300;
}

.post_header p {
	margin-top: 0;
	font-size: 80%;
	font-style: italic;
}

.post_content p {
	margin-top: 0;
}

.post_content h1 {
	font-weight: 300;
}

.post_content h2 {
	font-weight: 300;
}

.post_content h3 {
	font-weight: 300;
}

.post_content h4 {
	font-weight: 300;
}

.post_content ul {
	padding: 0 2em 0 2em;
	margin: 0 0 1em 0;
}

.post_content ul ul {
	margin: 0;
}

.post_content p code, .post_content ul code, .post_content li code {
	padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
	border-radius: 3px;
	/* border: 1px solid rgb(196 196 196); */
	font-family: "fira mono",monospace;
	white-space: pre;
	background: #050505;
}

a > code {
	border-color: {{color_link}} !important;
}

.post_content video {
	max-width: 600px;
	width: 100%;
	margin-bottom: 1em;
}

.post_content .google_doc {
	border: 1px solid #555;
	width: 100%;
	height: 100vh;
}

/* Use border-box box sizing everywhere */
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.hljs-ln-numbers {
	border-right: 1px solid #444;
	padding-right: 6px !important;
	text-align: right;
}

.hljs-ln-code {
	padding-left: 6px !important;
}

.hljs {
	background: #191919 !important;
}

.table_of_contents {
	margin: 2em 0;
	display: flex;
	flex-direction: column;
	padding: 1em;
	background: #222222;
}

/* CFG graphs */
/* Style node contents */
.node {
	white-space: nowrap;
	font-family: Courier;
	cursor: pointer;
	color: #ccc;
	stroke: none;
	fill: #ccc;
}

/* Style node bounding rectangle */
.node rect {
	stroke: #ccc;
	fill: #000;
	stroke-width: 1.5px;
}

/* Style edges */
.edgePath path.path {
	stroke: #ccc;
	stroke-width: 1.5px;
	fill: none;
}

mjx-math {
	background: black;
	padding: 0.5em !important;
	border-radius: 3px;
}